div.slot {
  width: 25px;
  height: 28px;
  background-color: #e9ecef;
  margin: 0px 1px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  // box-shadow: 1px 1px #676565;
  display: inline-block;
}
