div.tile {
  width: 18.5pt;
  height: 20pt;
  background-color: rgb(230, 230, 46);
  color: #000;
  font-weight: 600;
  text-align: center;
  box-shadow: 1px 1px #676565;
  display: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  z-index: 100;

}
